@import "../../node_modules/open-props/open-props.min.css";

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* *:focus {
  outline: none;
} */

/* *************************** */
/* TYPE COLORS */
.bug {
  background-color: #729f3f;
  color: #fff;
}
.dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
  color: #fff;
}
.electric {
  background-color: #eed535;
}
.fairy {
  background-color: #fdb9e9;
}
.fighting {
  background-color: #d56723;
  color: #fff;
}
.fire {
  background-color: #fd7d24;
  color: #fff;
}
.flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
}
.ghost {
  background-color: #7b62a3;
  color: #fff;
}
.grass {
  background-color: #9bcc50;
}
.ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background-color: #f7de3f;
}
.ice {
  background-color: #51c4e7;
}
.normal {
  background-color: #a4acaf;
}
.poison {
  background-color: #b97fc9;
  color: #fff;
}
.psychic {
  background-color: #f366b9;
  color: #fff;
}
.rock {
  background-color: #a38c21;
  color: #fff;
}
.water {
  background-color: #4592c4;
  color: #fff;
}

/* *************************** */
html,
body {
  scrollbar-gutter: stable;
  /* width: 100vw; */
}

html {
  min-height: 100%;
}

body {
  display: grid;
  grid: [stack] 1fr / min-content [stack] 1fr;
  direction: rtl;
  font-size: var(--font-size-1);
  letter-spacing: var(--font-letterspacing-0);
  font-family: "Roboto Mono", var(--font-mono);
  font-weight: 400;
  color: var(--gray-8);
  overflow-x: hidden;
  background-color: var(--gray-1);
}
.scroll-lock {
  overflow: hidden;
}

li {
  list-style: none;
}

.btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  font-size: var(--font-size-5);
  color: var(--gray-6);
  transition: outline-color 0.3s;
}

/* HEADER */

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--size-6);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 2.5rem; */
}

.logo img {
  width: 30rem;
}
.btn--list {
  position: absolute;
  align-self: flex-start;
  font-size: 2.5rem;
}

/* NAV */
body > aside {
  grid-area: stack;
  display: grid;
  grid-template-columns: [escape] 1fr [nav] 2fr;
  /* max-height: 100vh; */
}

nav {
  width: 60%;
  position: sticky;
  display: inline-flex;
  flex-direction: column;
  padding: var(--size-6);
  font-size: var(--font-size-3);
  color: var(--gray-2);
  background-color: var(--gray-5);
  z-index: 9990;
  /* box-shadow: var(--shadow-7); */
}
nav:target {
  visibility: visible;
  transform: translateX(0);
  transition: transform var(--duration) var(--easeOutExpo);
}

/* MAIN */
body > main {
  grid-area: stack;
}
.container {
  display: flex;
  /* width: 100vw; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pokemon-container {
  display: grid;
  direction: ltr;
  grid-template-columns: repeat(4, auto);
  margin: auto;
  justify-content: center;
  width: min(100% - 3rem, 60rem);

  gap: var(--size-3);
}

.pokemon-preview {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: var(--radius-3);
  background-color: #fff;
  width: 14rem;
  height: 19rem;
  overflow: hidden;
  box-shadow: var(--shadow-3);

  transition: all 0.25s;
  backface-visibility: hidden;

  @media (min-width: 320px) {
  }
}

.pokemon-preview:hover {
  cursor: pointer;
  box-shadow: var(--shadow-4);
  transform: translateZ(0) scale(1.069);
}

.id {
  width: 100%;
  color: var(--gray-6);
  padding: 0.25rem 0 0 0.5rem;
}

.img-container {
  display: flex;
  height: 11rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}

.img-pokemon {
  max-height: 11rem;
  object-fit: contain;
}
.name {
  font-size: var(--font-size-2);
  margin-bottom: var(--size-1);
  font-weight: 600;
}

.type-container {
  display: flex;
  gap: 0.5rem;
}

.type {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: var(--size-1); */

  width: 5rem;
  height: 1.5rem;
  /* padding: 0.3rem; */
  border-radius: var(--radius-5);
}

/* MODAL */

.pokemon-modal {
  margin: auto;
  display: grid;
  direction: ltr;

  width: min(100% - 2rem, 60rem);
  border-radius: var(--radius-3);

  border: none;

  background-color: var(--gray-1);
  padding: 0;
  box-shadow: var(--shadow-4);
  transition: transform 0.3s ease-in-out;

  overflow: visible;
}

.pokemon-modal:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.pokemon-modal::backdrop {
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.15);
}

/* polifill */
dialog + .backdrop {
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.15);
}

.dialog-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: var(--size-3);
  gap: var(--size-2);
}

dialog > form > header {
  /* grid-column-start: span 2; */
  display: flex;
  gap: var(--size-2);
  justify-content: space-between;
  align-items: flex-start;
}

.info-modal {
  display: flex;
  gap: var(--size-2);
  align-items: center;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.5);
  /* background-color: #b97fc9; */

  border-radius: var(--radius-3);

  padding-block: var(--size-2);
  padding-inline: var(--size-3);
}

.name-modal {
  margin: 0;
  font-size: var(--font-size-4);
}

.id.id-modal {
  width: auto;
  padding: 0;
  font-size: var(--font-size-3);
}

.btn--delete {
  padding: 0.65rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--radius-3);
}

dialog > form > article {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto auto;
  gap: var(--size-2);

  /* height: 100%; */

  /* padding-block: var(--size-3);
  padding-inline: var(--size-5); */
}

.img-container-modal {
  grid-row-start: span 3;
  display: flex;
  width: 29rem;
  height: 29rem;
  padding: var(--size-3);
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: var(--radius-3);
}
.img-pokemon-modal {
  height: 100%;
  object-fit: contain;
}
.stats-modal {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}
.description {
  display: flex;
  align-items: center;
  font-size: 0.93rem;
  line-height: var(--font-lineheight-0);
  word-wrap: break-word;
  padding-block: var(--size-1);
  padding-inline: 0.7rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--radius-3);
}

.chart {
  padding: var(--size-2);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--radius-3);
}
.chart-radar {
}

.chart-radar canvas {
}

.chart-bar {
}
.chart-bar canvas {
}

#spinner {
  margin: 3rem;
  text-align: center;
  letter-spacing: normal;
  line-height: normal;
  animation: spin 2s linear infinite;
}

.ph-spinner {
  color: var(--gray-6);
  font-size: 4rem;
}

.hidden {
  display: none;
}
