@import "../../node_modules/open-props/open-props.min.css";

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* *:focus {
  outline: none;
} */

/* *************************** */
html,
body {
  scrollbar-gutter: stable;
  width: 100vw;
}

html {
  min-height: 100%;
  overflow-x: hidden;
  direction: rtl;
}

body {
  height: 100%;
  font-size: var(--font-size-1);
  letter-spacing: var(--font-letterspacing-0);
  font-family: "Roboto Mono", var(--font-mono);
  font-weight: 400;
  color: var(--gray-8);
  background-color: var(--gray-1);
}

li {
  list-style: none;
}

.btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  font-size: var(--font-size-5);
  color: var(--gray-6);
  transition: outline-color 0.3s;
}

#sentinel {
  position: absolute;
  bottom: 50vh;
}

/* HEADER */

.header {
  position: relative;
  direction: ltr;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--size-6) var(--size-7);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 2.5rem; */
}

.logo img {
  width: 30rem;
}
.btn--list {
  position: absolute;
  align-self: flex-end;
  font-size: 2.5rem;
}

/* NAV */
body > aside {
  direction: ltr;
}
.sidenav {
  position: fixed;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: var(--size-3);
  gap: var(--size-4);

  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;

  width: 0px;
  visibility: hidden;

  background-color: var(--gray-4);
  box-shadow: var(--shadow-4);

  overflow-x: hidden;
  transition: 0.5s;

  white-space: nowrap;
}

.btn--close {
  padding: 0 var(--size-3);
  align-self: flex-start;
}

/* Search */
.search-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--size-2);
  padding: 0 var(--size-3);
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: var(--radius-3);
  background-color: rgb(250, 250, 250);
  height: var(--size-8);
  padding: var(--size-1);

  box-shadow: 0 0 0 0.15rem transparent;
  transition: box-shadow 0.3s;
  overflow: hidden;
}

label {
}
.search {
  width: calc(100% - 2rem);

  height: 100%;
  padding: 0 var(--size-2);
  border: none;

  background-color: transparent;
}
input::placeholder {
  color: hsla(210, 10%, 23%, 0.8);
}

input:focus::placeholder {
  color: transparent;
}
.btn-search {
  /* position: fixed; */
}

/* Filter */
.filter-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--size-2);
  padding: 0 var(--size-3);
}

.filter-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: var(--size-4);
  padding: var(--size-4);

  justify-content: center;
  width: 100%;

  border-radius: var(--radius-3);
  background-color: rgba(255, 255, 255, 0.5);
}

.type.filter {
}
.type.filter:hover {
  cursor: pointer;
}

/* MAIN */
body > main {
  direction: ltr;
}
.container {
  display: flex;
  /* width: 100vw; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pokemon-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: min(100% - 3rem, 60rem);
  gap: var(--size-3);

  /* @media (min-width: 320px) {
    width: calc(100% - 1rem);
    gap: var(--size-2);
  } */
}

.pokemon-preview {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: var(--size-1);

  border-radius: var(--radius-3);
  background-color: #fff;
  width: 14rem;

  aspect-ratio: 1/1.35;

  overflow: hidden;
  box-shadow: var(--shadow-3);

  transition: all 0.25s;

  /* @media (min-width: 320px) {
    width: 9rem;
    height: 14rem;
  }
  @media (min-width: 1240px) {
    width: 14rem;
    height: 19rem;
  } */
}

.pokemon-preview:hover {
  cursor: pointer;
  box-shadow: var(--shadow-4);
  transform: translateZ(0) scale(1.069);
}

.id {
  width: 100%;
  color: var(--gray-6);
  padding: 0.25rem 0 0 0.5rem;
  font-size: var(--font-size-2);
}

.img-container {
  display: flex;
  width: 100%;
  padding: var(--size-2);
  justify-content: center;
  align-items: center;
}

.img-pokemon {
  max-height: 11rem;
  aspect-ratio: 1;
  object-fit: contain;
}
.name {
  font-size: var(--font-size-2);
  margin-bottom: var(--size-1);
  font-weight: 600;
}

.type-container {
  justify-self: flex-end;
  display: flex;
  gap: 0.5rem;
}

.type {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: var(--size-1); */

  width: 5rem;
  height: 1.5rem;
  /* padding: 0.3rem; */
  border-radius: var(--radius-5);
}

/* MODAL */

#pokemon-modal {
  display: grid;
  margin: auto;

  width: min(100% - 2rem, 60rem);
  height: 35rem;
  border-radius: var(--radius-3);

  border: none;

  background-color: var(--gray-1);
  padding: 0;
  box-shadow: var(--shadow-4);
}

#pokemon-modal:not([open]) {
  pointer-events: none;
  opacity: 0;
}

#pokemon-modal::backdrop {
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.15);
}

html:has(dialog[open]) {
  overflow: hidden;
}

/* polifill */
dialog + .backdrop {
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.15);
}

.dialog-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: var(--size-3);
  gap: var(--size-2);
}

dialog > form > header {
  display: flex;
  gap: var(--size-2);
  justify-content: space-between;
  align-items: flex-start;
}

.info-modal {
  display: flex;
  gap: var(--size-2);
  align-items: center;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.5);
  /* background-color: #b97fc9; */

  border-radius: var(--radius-3);

  padding-block: var(--size-2);
  padding-inline: var(--size-3);
}

.name-modal {
  margin: 0;
  font-size: var(--font-size-4);
}

.id.id-modal {
  width: auto;
  padding: 0;
  font-size: var(--font-size-3);
}

.btn--close-modal {
  padding: 0.65rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--radius-3);
}

dialog > form > article {
  width: 100%;
  display: flex;

  gap: var(--size-2);
}

.img-container-modal {
  display: flex;

  width: 50%;
  aspect-ratio: 1;

  padding: var(--size-3);
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: var(--radius-3);
}
.img-pokemon-modal {
  height: 100%;
  object-fit: contain;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

.description {
  display: flex;
  align-items: center;
  font-size: 0.93rem;
  line-height: var(--font-lineheight-0);
  word-wrap: break-word;
  padding-block: var(--size-1);
  padding-inline: 0.7rem;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--radius-3);
}

.chart {
  padding: var(--size-2);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--radius-3);
}
.chart-radar {
  height: 100%;
}
.chart-radar canvas {
  max-height: 15rem;
}

/*  */
#spinner {
  margin: 3rem;
  text-align: center;
  letter-spacing: normal;
  line-height: normal;
  animation: spin 2s linear infinite;
}

.ph-spinner {
  color: var(--gray-6);
  font-size: 4rem;
}

/* ERROR */
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-4);
}
.error-msg {
  font-size: var(--font-size-3);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-3);
}
.ph-warning {
  font-size: var(--font-size-6);
  color: var(--red-10);
}
.img-container-error {
  max-width: 60%;
}

/*  */
/* .hidden {
  visibility: hidden;
  opacity: 0;
} */
